body {
  box-sizing: border-box;
  position: relative;
}

#content {
  padding: 5rem 20rem;
}

.ms-controller {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  border: none;
}

body {
  font-family: "Microsoft YaHei", "Arial", "Helvetica", "Verdana", "sans-serif";
  background: #f3f5fa;
}

.top {
  .item-content {
    display: inline-block;
    margin-right: 10px;
  }
}

.page-card {
  background: #fff;
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 3px;
}

.row-item {
  color: #485467;
  display: inline-block;
  margin-right: 15px;
  margin-right: 10px;
}

.row-item .item-content {
  color: #5275bc;
}

.page-title {
  color: #475367;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.page-title .page-title_content {
}

.page-center {
  // margin-bottom: 10px;
  font-size: 16px;
}

.page-center .warn-img {
  margin-right: 5px;
  position: relative;
}

.page-center .bottom {
  font-size: 16px;
  display: table;
  width: 100%;
}

.page-center .bottom .center-row {
  display: table-row;
  span {
    display: inline-block;
  }
  td {
    height: 50px;
  }
}

.page-center .bottom .center-row .center-row-item {
  margin-bottom: 10px;
  margin-top: 10px;
  &.left {
    width: 600px;
    .row-icon {
      position: relative;
      left: -5px;
    }
  }
}

.page-center .bottom .center-row .center-row-item .item-icon {
  width: 20px;
  display: inline-block;
}

.page-center .bottom .center-row .center-row-item .item-label {
  width: 100px;
  display: inline-block;
  color: #485467;
}

.page-center .bottom .center-row .center-row-item .item-val {
  padding: 4px 0;
  color: #6a88c5;
  border-radius: 3px;
  width: calc(100% - 100px);
  display: inline-block;
}

.page-center .bottom .center-row .center-row-item .val2 {
  border: none;
  padding: 4px 10px;
  color: #6a88c5;
  width: auto;
  display: inline-block;
}

.page-center .bottom .center-row .center-row-item .item-unit {
  color: #485467;
  width: 10px;
  display: inline-block;
}

.page-center .top {
  border-bottom: 1px solid #c8dff8;
  padding-bottom: 16px;
}

.page-center .center {
  padding: 10px;
  background: #ead4d1;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page-center .center span {
  padding: 0 5px;
}

.page-center .center .green {
  color: #0ca053;
}

.page-center .center .red {
  color: #9f3122;
}

.page-bottom {
  background-color: #f3f5fa;
  #tabs {
    height: 100%;
  }
}

.page-bottom #tabs-1 {
}

.page-bottom #tabs-1 .result-progress {
  padding: 10px 0 0 0;
  position: relative;
}

.page-bottom #tabs-1 .result-progress .outer {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #eceef4;
}

.page-bottom #tabs-1 .result-progress .inner {
  width: 80%;
  background-color: #d0a8a0;
  height: 20px;
  background-image: linear-gradient(90deg, #e1d7d0, #cea19a);
  border-radius: 10px;
}

.page-bottom #tabs-1 .result-progress .split {
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #888480;
}

.page-bottom #tabs-1 .result-progress .split-1 {
  left: 25%;
}

.page-bottom #tabs-1 .result-progress .split-2 {
  left: 75%;
}

.page-bottom #tabs-1 .result-progress .desp {
  position: relative;
  margin-top: 12px;
}

.page-bottom #tabs-1 .result-progress .desp .desp-item {
  display: inline-block;
  position: absolute;
  font-size: 16px;
}

.page-bottom #tabs-1 .result-progress .desp .desp-item.num1 {
  left: 23%;
  padding: 5px;
  font-weight: bold;
}

.page-bottom #tabs-1 .result-progress .desp .desp-item.num2 {
  left: 73%;
  padding: 5px;
  font-weight: bold;
}

.page-bottom #tabs-1 .result-progress .desp .desp-item.low {
  color: #977358;
  background-color: #e2d9d2;
  left: 12%;
  padding: 5px 15px;
  border-radius: 20px;
}

.page-bottom #tabs-1 .result-progress .desp .desp-item.normal {
  color: #4b586b;
  background-color: #d5dce2;
  left: 48%;
  padding: 5px 15px;
  border-radius: 20px;
}

.page-bottom #tabs-1 .result-progress .desp .desp-item.high {
  color: #b75f55;
  background-color: #f0e0de;
  left: 86%;
  padding: 5px 15px;
  border-radius: 20px;
}

.page-bottom #tabs-1 .result-grp {
  font-weight: bold;
  font-size: 16px;
}

.page-bottom #tabs-1 .result-table {
  margin-top: 60px;
  font-size: 16px;
}

.page-bottom #tabs-1 .result-table .item {
  font-weight: bold;
}

.page-bottom #tabs-1 .result-table .item .item-title {
  color: #475367;
}

.page-bottom #tabs-1 .result-table .item .item-val {
  color: #5879be;
}

.page-bottom #tabs-1 .result-table .table-esp {
  width: 100%;
  border-collapse: collapse;
}

.page-bottom #tabs-1 .result-table .table-esp td {
  border: 1px solid #c7c3bc;
  text-align: left;
  padding: 10px;
}

.page-bottom #tabs-1 .result-bot {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.page-bottom #tabs-1 .result-bot .bot-left {
  width: 100%;
  font-size: 15px;
  padding-right: 20px;
  height: 100%;
  color: #323d4f;
}

.page-bottom #tabs-1 .result-bot .bot-left .bot-left-item {
  height: 25%;
  padding-bottom: 10px;
  text-align: center;
}

.page-bottom #tabs-1 .result-bot .bot-left .bot-left-item .item-inner {
  background-color: #d5dce2;
  height: 100%;
  padding: 8px;
  border: 1px solid #d5dce2;
}

.page-bottom #tabs-1 .result-bot .bot-center {
  width: 100%;
  font-size: 15px;
  padding-right: 20px;
  color: #5d7ec0;
}

.page-bottom #tabs-1 .result-bot .bot-center .bot-center-item {
  height: 25%;
  padding-bottom: 10px;
}

.page-bottom #tabs-1 .result-bot .bot-center .bot-center-item .item-inner {
  border: 1px solid #c8c3bc;
  height: 100%;
  padding: 8px;
}

.page-bottom #tabs-1 .result-bot .bot-right {
  border: 2px solid #e0e3e9;
  width: 100%;
  font-size: 15px;
  overflow: auto;
  height: 100%;
  color: #a1282b;
  background-color: #f0f3f7;
  border-radius: 10px;
}
.page-bottom #tabs-1 .result-bot .bot-right p {
  padding: 5px;
}

.page-bottom .tabs-ul li a {
  font-size: 16px;
}

.page-bottom .tabs-ul li a img {
  margin-right: 5px;
  border: none;
}

.clearfix::after {
  clear: both;
}

.tabs-ul {
  height: 40px;
  padding: 0;
  &::after {
    clear: both;
  }
  .ui-tabs-nav {
    float: left;
    background-color: #f3f5fa;
    border-bottom: 2px solid #fff;
    &.active-tab {
      border-color: #536fdb;
      background-color: #fff;
      .ui-tab-content {
        height: auto;
      }
      a {
        color: #536fdb;
      }
    }
    a {
      float: left;
      padding: 10px;
      text-decoration: none;
    }
  }
}
.ui-tabs-panel {
  border-width: 0;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.large-btn {
  position: fixed;
  _position: absolute;
  top: 50%;
  left: 0;
  color: #536fdb;
  cursor: pointer;
  z-index: 1000000;
  // background-color: red;
  padding: 0 20px;
}
