.w-mini {
    font-size: 12px;
}

.w-mini .top .row-item,
.w-mini.top .row-item .item-content {
    font-size: 12px;
}

.w-mini .page-center .center {
    font-size: 12px;
    padding: 5px 0;
}

.w-mini .action-btns .reset-btn,
.w-mini .action-btns .submit-btn {
    font-size: 12px;
    padding: 3px 10px;
}

.w-mini .ms-pop .pop-input {
    font-size: 12px;
    padding: 5px 0;
}

.w-mini #pageTitle {
    font-size: 16px;
}

.w-mini .page-center .bottom .center-row td {
    height: 30px;
}

.w-mini .page-center .bottom .pop-content .search-content td {
    height: 30px;
}

.w-mini .page-center .bottom .pop-content td {
    height: auto;
    _height: auto;
}

.w-mini .page-bottom #tabs-1 .result-grp {
    font-size: 14px;
    margin-bottom: 5px;
}


.w-mini td .item-inner {
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: unset !important;
}

.w-mini .page-bottom #tabs-1 .result-table .table-esp td {
    padding: 5px 10px
}

.w-mini .ssfzdrg-template #ltTable .item-inner.left {
    height: 24px;
    line-height: 24px;
}

.w-mini .ssfzdrg-template #ltTable .item-inner.center {
    height: 22px;
    line-height: 22px;
}

.w-mini .page-card {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.w-mini .page-title .page-title-imgs {
    bottom: 0px;
    right: 10px;
}

.w-mini .progress-container .progress-bar {
    height: 18px;
    line-height: 18px;
    background: #ebeef5;
    border-radius: 12px;
}

.w-mini .progress-container .progress-bar .progress-bar-active {
    height: 18px;
    line-height: 18px;
}