.w-1920 {
    font-size: 12px;
}

.w-1920 .top .row-item,
.w-1920.top .row-item .item-content {
    font-size: 14px;
}

.w-1920 .page-center .center {
    font-size: 14px;
    padding: 10px 0;
}

.w-1920 .action-btns .reset-btn,
.w-1920 .action-btns .submit-btn {
    font-size: 14px;
    padding: 8px 10px;
}

.w-1920 .ms-pop .pop-input {
    font-size: 12px;
    padding: 10px 0;
}

.w-1920 #pageTitle {
    font-size: 18px;
}

.w-1920 .page-center .bottom .center-row td {
    height: 40px;
}

.w-1920 .page-center .bottom .pop-content .search-content td {
    height: 40px;
}

.w-1920 .page-center .bottom .pop-content td {
    height: auto;
    _height: auto;
}

.w-1920 .page-bottom #tabs-1 .result-grp {
    font-size: 14px;
    margin-bottom: 10px;
}


.w-1920 td .item-inner {
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 14px;
    padding: 5px 0;
}

.w-1920 .page-bottom #tabs-1 .result-table .table-esp td {
    padding: 10px
}

.w-1920 .ssfzdrg-template #ltTable .item-inner.left {
    height: 30px;
    line-height: 30px;
}

.w-1920 .ssfzdrg-template #ltTable .item-inner.center {
    height: 28px;
    line-height: 28px;
}

.w-1920 .page-card {
    margin-bottom: 10px;
    padding: 10px;
}

.w-1920 .page-bottom.page-card {
    padding-top: 0;
}

.w-1920 .page-title .page-title-imgs {
    bottom: 0px;
    right: 10px;
}

.w-1920 .progress-container .progress-bar {
    height: 18px;
    line-height: 18px;
    background: #ebeef5;
    border-radius: 12px;
}

.w-1920 .progress-container .progress-bar .progress-bar-active {
    height: 18px;
    line-height: 18px;
}

.w-1920 .ms-pop.ms-pop4 .pop-content {
    width: 100%;
}

.w-1920 .ms-pop.ms-pop3 .pop-content {
    width: 100%;
}

.w-1920 .ms-pop.ms-pop5 .pop-content {
    width: 1200px;
}

.w-1920 .ssfzdrg-template #ltTableWrap {
    margin-top: 30px;
}

.w-1920 .ssfzdrg-template td {
    border-bottom-width: 10px;
}

.w-1920 .ui-tab-content a {
    font-size: 15px;
}

.w-1920 .ms-pop .pop-content .left-table .diagnose-name,
.ms-pop .pop-content .left-table .diagnose-name .item-inner {
    width: 330px;
}

.w-1920 .ms-pop .pop-content .left-table .diagnose-name,
.ms-pop .pop-content .left-table .diagnose-name {
    width: 330px;
}

.w-1920 .ms-pop .pop-content .list-content .list-ul .row td.item.right,
.w-1920 .ms-pop .pop-content .list-content .list-ul .row td.item.right .item-inner {
    width: 440px;
}

.w-1920 .ms-pop .pop-content .list-content .list-ul .row td.item.left,
.w-1920 .ms-pop .pop-content .list-content .list-ul .row td.item.left .item-inner {
    width: 130px;
}