.ms-fzzl-tab {
  height: 100%;
  width: 100%;
  .list-ul {
    width: 100%;
    border-collapse: collapse;
    .head-th {
      border: 1px solid #c7c3bc;
      text-align: left;
      padding: 10px;
    }
    .tr-row {
      .item {
        border: 1px solid #c7c3bc;
        text-align: left;
        height: 28px;
        line-height: 28px;
        .item-inner {
          height: 28px;
          line-height: 28px;
          padding: 0 10px;
        }
      }
    }
  }
}
