.ms-fzzl-tab {
  height: 100%;
  width: 100%;
  .list-ul {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    .head-th {
      border: 1px solid #c7c3bc;
      text-align: left;
      padding: 10px;
    }
    .row {
      .item {
        border: 1px solid #c7c3bc;
        text-align: left;
        padding: 10px;
      }
    }
    .left {
    }
    .right {
    }
  }
}
