.ms-pop {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  .pop-input {
    box-sizing: border-box;
    border: 2px solid #b9d6f6;
    padding: 8px 0;
    color: #6a88c5;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    .input-content {
      margin-left: 10px;
      overflow: hidden;
      word-break: break-all;
      white-space: unset !important;
      white-space: nowrap;
      /* break-all(允许在单词内换行。) */
      text-overflow: ellipsis;
      /* 超出部分省略号 */
      display: -webkit-box;
      /** 对象作为伸缩盒子模型显示 **/
      -webkit-box-orient: vertical;
      /** 设置或检索伸缩盒对象的子元素的排列方式 **/
      -webkit-line-clamp: 1;
    }
  }
  .pop-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 12px;
    min-height: 100px;
    border: 2px solid #b9d6f6;
    background-color: #fff;
    z-index: 101;
    box-sizing: border-box;
    padding: 10px 5px;
    &::before {
      content: "▲";
      position: absolute;
      top: -15px;
      left: 0;
      font-size: 15px;
      color: #b9d6f6;
      font-weight: bold;
    }
    .search-content {
      width: 100%;
      margin-right: 0 !important;
      .search-input-prefix {
        background-color: #5d7ec0;
        color: #fff;
        font-size: 16px;
        border: 1px solid #b89d9d;
        width: 50px;
        height: 32px;
        text-align: center;
      }
      .search-input-content {
        border: none;
        height: 32px;
        .search-input {
          height: 32px;
          width: 100%;
          line-height: 32px;
          box-sizing: border-box;
          &:hover {
            border: 1px solid #b89d9d;
          }
        }
      }
    }
    .list-content {
      padding: 10px 0;
      max-height: 300px;
      height: 300px; /*兼容ie6*/
      overflow: auto;
      background-color: #fff;
      .list-ul {
        border: 1px dashed #ccc6bd;
        width: 100%;
        border-collapse: collapse;
        .row {
          font-size: 0;
          td {
            height: unset;
          }
          .item {
            font-size: 15px;
            border: 1px dashed #c7c3bc;
            cursor: pointer;
            .item-inner {
              padding: 10px;
              &:hover {
                cursor: pointer;
                color: #6a88c5;
              }
            }
          }
          .left {
            width: 150px;
          }
          a {
            color: #000;
            text-decoration: none;
          }
          a:hover {
            cursor: pointer;
            color: #6a88c5;
          }
        }
      }
    }

    .left-table-wrap {
      max-height: 350px;
      height: 350px; /*兼容ie6*/
      overflow-y: auto;
      background-color: #fff;
      padding: 0 10px;
    }
    .left-table {
      width: 100%;
      border-collapse: collapse;

      thead {
        th {
          height: unset;
          padding: 10px;
          background-color: #f4f3f1;
          border: 1px solid #c7c3bc;
          color: #617b9f;
          font-size: 15px;
        }
      }
      tbody {
        td {
          font-size: 15px;
          text-align: center;
          border: 0.5px dashed #c7c3bc;
          height: unset;
          .item-inner {
            padding: 10px;
            &:hover {
              cursor: pointer;
              color: #6a88c5;
            }
          }
        }
      }
      // tbody {
      //   display: block;
      //   max-height: 320px;
      //   height: 320px;
      //   overflow-y: auto;
      // }

      // thead tr,
      // tbody tr,
      // tfoot tr {
      //   box-sizing: border-box;
      //   table-layout: fixed;
      //   display: table;
      //   width: 100%;
      //   border-collapse: collapse;
      //   border-spacing: 0;
      // }
    }
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left-arrow {
  img {
    width: 30px;
    height: 20px;
  }
}
