.mdc-adrg-tab {
  width: 100%;
  height: 100%;
  .tables {
    height: 100%;
    width: 100%;
    .adrg-table-cell {
      width: 33%;
      .search-content {
        width: 100%;
        margin-right: 0 !important;
        .search-input-prefix {
          color: #485467;
          font-size: 15px;
          width: 50px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          vertical-align: middle;
          padding: 0;
        }
        .search-input-content {
          border: none;
          height: 28px;
          border: 1px solid #c8c8c8;
          .search-input {
            height: 100%;
            width: 100%;
            line-height: 28px;
            box-sizing: border-box;
            border: none;
            &:hover {
              border: 1px solid #b89d9d;
            }
          }
        }
      }

      .mdc-adrg-tab__content {
        position: relative;
        height: 100%;
      }
      .mdc-adrg-tab__list {
        border: 1px solid #c9c3ba;
        position: relative;
        margin-left: 50px;
        margin-top: 10px;
        overflow: auto;
        .item-inner {
          overflow: hidden;
          word-break: break-all;
          white-space: unset !important;
          white-space: nowrap;
          /* break-all(允许在单词内换行。) */
          text-overflow: ellipsis;
          /* 超出部分省略号 */
          display: -webkit-box;
          /** 对象作为伸缩盒子模型显示 **/
          -webkit-box-orient: vertical;
          /** 设置或检索伸缩盒对象的子元素的排列方式 **/
          -webkit-line-clamp: 1;
        }
        th,
        td {
          border: 1px solid #c9c3ba;
          text-align: left;
          padding: 5px 0 5px 10px;
        }
        .list-ul {
          width: 100%;
        }
        .form-check-input {
          border: none;
        }
        &.adrg-table {
          table.list-ul {
            .tr-row {
              .td1 {
                width: 100px;
              }
              .td2 {
                width: 150px;
              }
              .td3 {
              }
            }
          }
        }
        &.dialog-table {
          table.list-ul {
            .tr-row {
              cursor: pointer;
              .form-check-input {
                width: 70px;
              }
              .td1 {
                width: 100px;
              }
              .td2 {
              }
              .td3 {
                width: 70px;
              }
              .td4 {
                width: 70px;
              }
            }
          }
        }
        &.operation-table {
          table.list-ul {
            .tr-row {
              cursor: pointer;
              .form-check-input {
                width: 40px;
              }
              .td1 {
                width: 100px;
              }
              .td2 {
              }
              .td3 {
                width: 40px;
              }
              .td4 {
                width: 40px;
              }
              .td5 {
                width: 40px;
              }
              .td6 {
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
}
