.mdc-adrg-tab {
  width: 100%;
  height: 100%;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tables {
    table-layout: fixed;
    height: 100%;
    width: 100%;

    .adrg-table-cell {
      width: 33%;

      .search-content {
        width: 100%;
        margin-right: 0 !important;

        .search-input-prefix {
          color: #485467;
          font-size: 15px;
          width: 50px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          vertical-align: middle;
          padding: 0;
        }

        .search-input-content {
          border: none;
          height: 28px;
          border: 1px solid #c8c8c8;

          .search-input {
            height: 28px;
            width: 100%;
            line-height: 28px;
            box-sizing: border-box;
            border: none;
            margin-bottom: 0;
            height: 100% !important;

            &:hover {
              border: 1px solid #b89d9d;
            }
          }
        }
      }

      .mdc-adrg-tab__content {
        position: relative;
        height: 100%;
      }

      .mdc-adrg-tab__list {
        border: 1px solid #c9c3ba;
        position: relative;
        margin-left: 50px;
        margin-top: 10px;
        overflow: auto;

        th,
        td {
          border: 1px solid #c9c3ba;
          text-align: left;
          padding: 5px;
        }
        th {
          text-align: center;
        }

        .list-ul {
          width: 100%;
          table-layout: auto;
        }

        .form-check-input {
          border: none;
        }

        &.adrg-table {
          table.list-ul {
            .tr-row {
              .td1 {
                width: 80px;

                .item-inner {
                  _width: 80px;
                  width: 80px;
                }
              }

              .td2 {
                .item-inner {
                  _width: 150px;
                  width: 150px;
                }
              }

              .td3 {
                .item-inner {
                  _width: 100%;
                }
              }
            }
          }
        }

        &.dialog-table {
          table.list-ul {
            .tr-row {
              cursor: pointer;

              .form-check-input {
                width: 50px;

                .item-inner {
                  width: 50px;
                }
              }

              .td1 {
                width: 120px;
                .item-inner {
                  width: 120px;
                }
              }

              .td2 {
                .item-inner {
                  width: 100px;
                }
              }

              .td3 {
                width: 50px;
              }

              .td4 {
                width: 50px;
              }
            }
          }
        }

        &.operation-table {
          table.list-ul {
            .tr-row {
              cursor: pointer;

              .form-check-input {
                width: 40px;
              }

              .td1 {
                .item-inner {
                  _width: 100px;
                  width: 100px;
                }
              }

              .td2 {
                .item-inner {
                  _width: 100%;
                }
              }

              .td3 {
                width: 40px;
              }

              .td4 {
                width: 40px;
              }

              .td5 {
                width: 40px;
              }

              .td6 {
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
}
