.ssfzdrg-template {
  td {
    border: 0;
    border-bottom: 5px solid #fff;
  }
  #ltTableWrap {
    margin-top: 10px;
    table-layout: fixed;
  }
  #ltTable {
    border-collapse: collapse;
    .item-inner {
      &.left {
        border-right: 10px solid #fff;
        color: #474545;
        background-color: #f0f3f6;
        height: 28px;
        line-height: 28px;
        text-align: center;
      }
      &.center {
        border: 1px solid #d5dce2;
        height: 26px;
        line-height: 26px;
        padding-left: 15px;
      }
      &.right {
        height: 135px;
      }
    }
  }
  .combined-td {
    color: #a1272b;
    line-height: 20px;
    border: 0;
    border-bottom: 30px solid #fff !important;
    border-bottom: 10px solid #fff;
    background-color: #f0f3f6;
    border-radius: 5px;
    position: relative;
    .combined-td-table {
      width: 100%;
      height: 100%;
    }

    .lt-list {
      color: #a1272b;
      line-height: 20px;
      height: 100%;
      width: 100%;
      overflow: auto;
      padding-left: 10px;
    }
    .empty-tip {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      img {
        position: relative;
        top: -30px;
      }
      div {
        position: relative;
        top: -30px;
      }
    }
  }
}
